
body {
    background: #F1ede6;
    /*background-image: url(https://images.pixieset.com/79201758/c5fb6d0cbeae9899bcfabd4dc736881d-medium.jpg);*/
    /*background-size: cover; !* Ensure the image covers the entire element *!*/
    /*background-position: center; !* Center the image *!*/
    /*!*opacity: 0.3; !* 10% opacity *!*!*/
    /*height: 100vh; !* Full viewport height *!*/
    /*width: 100%; !* Full width *!*/
    /*position: relative; !* Position relative for child elements *!*/
    /*z-index: -1; !* Ensure it sits behind other content *!*/
    font-family: "Assistant",  serif;
}

.background-image{

}

table {
    font-size: 15px;
    border-collapse: collapse;
    margin: 16px 0;
    border: none;
}

/* Styles for the custom table */
.rounded-shadow-table {
    border-collapse: collapse;
    background-color: #ebe3db; /* Light beige */
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow */
    overflow: hidden; /* Ensures the border-radius applies fully */
    margin: 30px auto; /* Center the table */
}

/* Remove borders from table cells */
.rounded-shadow-table th,
.rounded-shadow-table td {
    border: none;
    padding: 20px 40px; /* Add some padding for a clean look */
    text-align: left; /* Align text to the left */
}

/* Add subtle styling for the header */
.rounded-shadow-table th {
    background-color: #d1c7bd; /* Slightly darker beige for the header */
    font-weight: bold;
}

/* Optional: Row hover effect */
.rounded-shadow-table tbody tr:hover {
    background-color: #f0eada; /* Slightly lighter beige on hover */
}
.product-details {
    border: 4px double #d1c7bd;
    border-radius: 15px; /* Rounded corners */
    padding: 16px; /* Add some spacing inside the container */
    background-color: #f1eee8;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Subtle shadow for depth */

    width: 500px; /* Fixed width for portrait shape */
    height: 350px; /* Fixed height for portrait shape */

    display: flex; /* Flexbox for alignment */
    flex-direction: column; /* Stack children vertically */
    justify-content: space-between; /* Space between content blocks */
    align-items: center; /* Center-align content horizontally */

    margin: auto; /* Center the container in its parent */
}

button {
    background-color: #e7e7e7;
    color: black;
}
 .container{
     max-width: 1700px;
 }